<p>This are all the ways you can include Markdown in Sinatra</p>
<ul>
  <li><a href="/gh-md/">GitHub Markdown (not maintained anymore)</a></li>
  <li><a href="/just-md/">Raw Markdown (not in a layout)</a></li>
  <li><a href="/md-inside-layout/">Markdown inside layout through locals</a></li>
  <li><a href="/md-as-variable/">Markdown inside layout as a variable</a></li>
  <li><a href="/md-with-frontmatter/">Markdown inside layout when it contains Front-Matter</a></li>
  <li><a href="/md-from-view/">Markdown called from inside the view</a></li>
  <li><a href="/blog/">Blog list</a></li>
</ul>
